#container {
  background-color: #ffc1bf;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  padding: 0px;
}

#gradient {
  background-image: url("media/gradient.png");
  background-color: #ffc1bf;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0px;
  mix-blend-mode: multiply;
}

#texture {
  background-image: url("media/texture.png");
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0px;
}


#grassRow1 {
  margin-top: 38%;
  margin-left: -20px;
  max-width: 101%;
  max-height: auto;
  position: absolute;
  z-index: 200;
  animation-name: grassMove1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

#grassRow2 {
  margin-top: 34%;
  margin-left: -20px;
  max-width: 101%;
  max-height: auto;
  position: absolute;
  z-index: 150;
  animation-name: grassMove2;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

#grassRow3 {
  margin-top: 32%;
  margin-left: -20px;
  max-width: 101%;
  max-height: auto;
  position: absolute;
  z-index: 100;
  animation-name: grassMove1;
  animation-delay: 1.5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes grassMove1 {
  50% {
    transform: translate3d(-3px, 3px, 0px);
  }
}

@keyframes grassMove2 {
  50% {
    transform: translate3d(3px, -3px, 0px);
  }
}

#tree_left {
  z-index: 160;
  position: absolute;
  margin-top: 5%;
  margin-left: -17%;
  animation-name: treeSway;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#tree_right {
  z-index: 140;
  position: absolute;
  margin-top: 20%;
  margin-left: 67%;
  animation-name: treeSway;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#top_tree1 {
  margin-left: 63%;
  margin-top: -19%;
  position: absolute;
}

#top_tree2 {
  margin-left: 41%;
  margin-top: -12%;
  position: absolute;
  animation-delay: 1.5s;
}

#top_tree3 {
  margin-left: 10%;
  margin-top: -36%;
  position: absolute;
  animation-delay: 0.5s;
}

#top_tree4 {
  position: absolute;
  margin-top: -18%;
  margin-left: -4%;
  opacity: 0.8;
  animation-delay: 1s;
}

#top_tree1, #top_tree2, #top_tree3, #top_tree4 {
  animation-name: treeMove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

@keyframes treeMove {
  50% {
    transform: translate3d(2px, -4px, 0px);
  }
}

@keyframes treeSway {
  50% {
    transform: rotateZ(0.5deg);
  }
}

#tree_stump {
  position: absolute;
  margin-left: 40%;
  margin-top: 38%;
  z-index: 160;
}

#bird {
  position: absolute;
  margin-left: 41.5%;
  margin-top: 30.5%;
  z-index: 161;
}

#animationBox {
  margin-left: -15%;
  margin-top: 20%;
  z-index: 50;
}

#man {
  position: absolute;
  animation-name: manRotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes manRotate {
    50% {
      transform: rotateZ(6deg);
    }
  }

#link {
  position: absolute;
  width: 10%;
  z-index: 500;
  margin-top: 46%;
  margin-left: 2%;
}

#link2 {
  position: absolute;
  width: 10%;
  z-index: 500;
  margin-top: 46.5%;
  margin-left: 88%;
}
