body {
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  padding: 0px;
}

#gradient {
  background-image: url("media/gradient.png");
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 120%;
  width: auto;
  height: auto;
  padding: 0px;
  z-index: -99;
}

#texture {
  background-image: url("media/texture.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0px;
  mix-blend-mode: multiply;
  z-index: -100;
}

#texture2 {
  background-image: url("media/texture2.png");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  padding: 0px;
  mix-blend-mode: color-burn;
  z-index: -100;
}

#man {
  position: absolute;
  z-index: 90;
  margin-left: 18%;
}

#cherryTree1 {
  position: absolute;
  margin-left: -17%;
  margin-top: -10%;
  z-index: 60;

}

#cherryTree2 {
  position: absolute;
  margin-left: 16%;
  margin-top: -23%;
  z-index: -30;
  transform: rotateZ(50deg);
}

#cherryBranch1 {
  position: absolute;
  margin-left: -8%;
  margin-top: -8%;
  transform: rotate(-80deg);
  z-index: 50;
}

#cherryBranch2 {
  position: absolute;
  margin-left: 80%;
  margin-top: -8%;
  z-index: 50;
}

#cherryBranch3 {
  position: absolute;
  margin-left: 85%;
  margin-top: -3%;
  z-index: 50;
}

#cherryBranch4 {
  position: absolute;
  margin-left: 65%;
  margin-top: -16%;
  z-index: 50;
  transform: rotate(50deg);
}

#cherryBranch5 {
  position: absolute;
  margin-left: 71%;
  margin-top: 8%;
  z-index: 50;
  transform: rotate(50deg);
}

#cherryBranch6 {
  position: absolute;
  margin-left: 88%;
  margin-top: 16%;
  z-index: 50;
}

#bird {
  position: absolute;
  z-index: 60;
  margin-left: 71%;
  margin-top: 19%;
  animation-name: bird;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

#left_arm {
  position: absolute;
  margin-left: 33%;
  margin-top: -5%;
  animation-name: arms;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

#right_arm {
  position: absolute;
  margin-left: 45%;
  margin-top: -14%;
  animation-name: arms;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

#flower1 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

#flower2 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 22s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;

}

#flower3 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;

}

#flower4 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 4s;

}

#flower5 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;

}

#flower6 {
  position: absolute;
  z-index: 100;
  animation-name: flowerMove;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes flowerMove {
  100% {
    transform: translate(100px, 780px)
    /*transform: rotateZ(-180deg);*/
  }
}

@keyframes arms {
  50% {
    transform: translate3d(10px, 30px, 0px);
  }
}

@keyframes bird {
  50% {
    transform: rotateZ(-8deg);
  }
}
